.bgcl{
    background-color:rgb(56, 94, 78);
    width:1550;
    margin:0;
    padding:0
}
.foot{
    background-color: rgb(56, 94, 78);
    width:1550;
    
}
.box{
    background-color: burlywood;
    padding-top:10;
    padding-left:60;
}